@using StaffingPlanner.ViewModels;
@model DetailedCourseViewModel

<div class="col-md-6 col-sm-6">
    <div class="table-responsive">
        <table class="table borderless">
            <tbody>
                <tr>
                    <th>Term:</th>
                    <td colspan="2">@Model.TermYear.Term - @Model.TermYear.Year</td>
                </tr>
                <tr>
                    <th>Code:</th>
                    <td colspan="2">@Model.Code</td>
                </tr>
                <tr>
                    <th>Credits:</th>
                    <td colspan="2">@Model.Credits</td>
                </tr>               
            </tbody>
        </table>
    </div>
    <div class="table-responsive" style="font-family: Raleway, sans-serif;">
        <table class="table">
            <thead>
                <td colspan="3">Students</td>
            </thead>
            <tbody>
                <tr>
                    <th>Budgeted</th>
                    <th>Registered</th>
                    <th>Passed</th>                    
                </tr>
                <tr>
                    <td>@Model.NumStudents</td>
                    <td>@Model.RegisteredStudents</td>
                    <td>@Model.PassedStudents</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div><span class="label label-@Model.Status pull-right">@Model.State </span></div>
<div class="col-md-6 col-sm-6">    
    <div class="table-responsive">
        <table class="table borderless">
            <tbody>
                <tr id="courseResponsible">
                    <th>Course responsible:</th>
                    <td>@Html.ActionLink(Model.CourseResponsible.Name, "TeacherDetails", "Teacher", new { id = Model.CourseResponsible.Id }, null)</td>
                </tr>
                <tr>
                    <th>HST:</th>
                    <td>@Model.HST</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="detail-bubble col-md-4 col-sm-4 col-xs-4">
        <p>Total Budget (h)</p>
        <p class="numbers blue-border">@Model.TotalHours</p>
    </div>
    <div class="detail-bubble col-md-4 col-sm-4 col-xs-4">
        <p>Allocated (h)</p>
        <p class="numbers green-border">@Model.AllocatedHours</p>
    </div>
    <div class="detail-bubble col-md-4 col-sm-4 col-xs-4">
        <p>Remaining (h)</p>
        <p class="numbers orange-border">@Model.RemainingHours</p>
    </div>
</div>
