@using StaffingPlanner.DAL
@using StaffingPlanner.ViewModels
@using StaffingPlanner.Models
@model List<CourseTeacherViewModel>


<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Name </th>               
                <th>Title </th>
                <th data-toggle="tooltip" title="Remaining teaching hours for the whole academic year">
                    Remaining hours <br /> for year
                </th>
                <th data-toggle="tooltip" title="Remaining teaching hours for the @ViewBag.Term term">
                    Remaining hours<br />for @ViewBag.Term
                </th>
                <th data-toggle="tooltip" title="Total workload (allocated hours) for the fall term">
                    HT <br /> work
                </th>
                <th data-toggle="tooltip" title="Total workload (allocated hours) for the spring term">
                    VT <br /> work
                </th>
                <th data-toggle="tooltip" title="Number of hours allocated for the teacher to @ViewBag.CourseName @ViewBag.Term">
                    Course <br /> work
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var teacher in Model)
            {
                if (Globals.SessionUser[Session["UserID"] as string].UserRole == Role.DirectorOfStudies && teacher.CourseState != CourseState.Completed)
                {
                    <tr>
                        @Html.Partial("_EditCourseTeacher",teacher)
                        </tr>
                }
                else { 
                    <tr>
                    <td>
                        @if (teacher.IsApproved)
                        {<i class="fa fa fa-check-circle" data-toggle="tooltip" title="Workload has been approved by the teacher" style="color:#87D37C"></i> }
                        else
                        {<i class="fa fa fa-exclamation-circle" data-toggle="tooltip" title="Workload is pending approval" style="color:#d66c78"></i>  }
                    </td>
                    <td>@Html.ActionLink(teacher.Name, "TeacherDetails", "Teacher", new { id = teacher.Id }, null)</td>
                    <td>@teacher.Title</td>
                    <td>@teacher.RemainingHoursForYear</td>
                    <td>@teacher.RemainingHoursForTerm</td>
                    <td>@teacher.WorkloadFall</td>
                    <td>@teacher.WorkloadSpring</td>
                    <td>@teacher.CourseWorkload
                        @if (Globals.SessionUser[Session["UserID"] as string].UserRole == Role.DirectorOfStudies)
                        {
                            <button value="@teacher.WorkloadId" data-toggle="tooltip" title="Édit Allocation" class="btn btn-default edit-button pull-right" onclick="EditTeacher(this)" style="margin-left: 80px" type="button">
                                <i class="material-icons">edit</i>
                            </button>
                        }
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>
<script>
    function EditTeacher(btn) {
        $('#' + btn.value).load('@Url.Action("EditTeacher","Course")/'+ btn.value);
        }
</script>

