@using StaffingPlanner.Models;
@model List<CourseOffering> 
<div class="card card-block">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name </th>
                <th>Term </th>
                <th>Year</th>
                <th>Total Budget</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.Count == 0)
                {
                    <tr>
                        <td colspan="4" class="text-center">No course History available</td>
                    </tr>
                }
                else
                {
                    foreach (var course in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(course.Course.Name, "CourseDetails", "Course", new { id = course.Id }, null)</td>
                            <td>@course.TermYear.Term</td>
                            <td>@course.TermYear.Year</td>
                            <td>@course.TotalHours<span class="label label-@course.Status pull-right">@course.State</span></td>
                        </tr>
                    }
                }
            }          
        </tbody>
    </table>
</div>
