@using StaffingPlanner.ViewModels
@using StaffingPlanner.Models
@model DetailedCourseViewModel

<div class="col-md-6 col-sm-6">
    <div class="table-responsive">
        <table class="table borderless">
            <tbody>
                <tr>
                    <th>Code:</th>
                    <td colspan="2">@Model.Code</td>
                </tr>
                <tr>
                    <th>Term:</th>
                    <td colspan="2">@Model.TermYear.ToString()</td>
                </tr>
                <tr>
                    <th>Period:</th>
                    <td colspan="2">@Model.Period</td>
                </tr>
                <tr>
                    <th>Credits:</th>
                    <td colspan="2">@Model.Credits</td>
                </tr>
                <tr>
                    <th>HST:</th>
                    <td>@Model.HST</td>
                </tr>
                <tr id="courseResponsible">
                    <th>Course responsible:</th>
                    <td>@Html.ActionLink(Model.CourseResponsible.Name, "TeacherDetails", "Teacher", new { id = Model.CourseResponsible.Id }, null)</td>
                </tr>
                @if (Model.State == CourseState.Completed)
                {
                    <tr>
                        <th>Course feedback:</th>
                        <td><a href="https://studentportalen.uu.se" target="_blank">Link</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div><span class="label @Model.Status pull-right">@Model.State </span></div>
<div class="col-md-6 col-sm-6">   
    <div class="table-responsive" >
        <table class="table">
            <thead>
                <tr colspan="3">Students</tr>
            </thead>
            <tbody>
                <tr>
                    <th>Budgeted</th>
                    <th>Registered</th>
                    <th>Passed</th>
                </tr>
                <tr>
                    <td>@Model.NumStudents</td>
                    <td>@Model.RegisteredStudents</td>
                    <td>@Model.PassedStudents</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="detail-bubble col-md-4 col-sm-4 col-xs-4">
        <p data-toggle="tooltip" title="Total number of hours budgeted for the course">Total Budget</p>
        <h3 class="numbers">@Model.TotalHours</h3>
    </div>
    <div class="detail-bubble col-md-4 col-sm-4 col-xs-4">
        <p data-toggle="tooltip" title="Total number of hours allocated to this course">Allocated</p>
        <h3 class="numbers">@Model.AllocatedHours</h3>
    </div>
    <div class="detail-bubble col-md-4 col-sm-4 col-xs-4">
        <p data-toggle="tooltip" title="The number of unallocated horus (Total hours - Allocated hours)">Remaining</p>
        <h3 class="numbers ">@Model.RemainingHours</h3>
    </div> 
</div>
@if (Model.IsApproved)
{
    <div class="approved">
        <i class="fa fa-check" style=" padding: 12px; color:#ffffff"></i>
    </div>
}
