@using StaffingPlanner.ViewModels;
@model CourseTeacherViewModel

    
    <td>@Html.ActionLink(Model.Name, "TeacherDetails", "Teacher", new { id = Model.Id }, null)</td>
    <td>@Model.Title</td>
    <td>@Model.RemainingHours</td>
    <td>@Model.WorkloadFall</td>
    <td>@Model.WorkloadSpring</td>
    <td>
@using (Html.BeginForm("SaveTeacherChanges", "Course", FormMethod.Post, new { id = "MyForm" }))
{
        <input type="hidden" id="workloadId" name="workloadId" value="@Model.WorkloadId">
        <input type="hidden" id="Id" name="Id" value="@Model.CourseId">
        <input type="number" style ="width: 60px; border:none" id ="Allocated" name="Allocated" value="@Model.CourseWorkload">
        <span  class="pull-right" data-toggle="tooltip" title="Delete Teacher" style="cursor:pointer; margin-left: 10px" type="button" onclick="location.href='@Url.Action("DeleteTeacher", "Course", new { id = Model.CourseId, workloadId = Model.WorkloadId })'"> <i class="glyphicon glyphicon-minus" style="font-size:23px;color:rgb(203,40,40)"></i></span>
        <span  class="pull-right" data-toggle="tooltip" title="Cancel Changes" style="cursor:pointer; margin-left: 10px" type="button" onclick="location.href='@Url.Action("CancelChanges", "Course", new { id = Model.CourseId })'"> <i class="fa fa-remove" style="font-size:23px;color:rgb(149,148,148);"></i></span>
        <button class="btn btn-default save-button pull-right" data-toggle="tooltip" title="Save Changes" type="submit">save </button>
}
     </td>
