@using StaffingPlanner.ViewModels
@using System.Collections.Generic
@model List<SimpleCourseViewModel>
@{
    ViewBag.Title = "Courses";
}


<h1>Courses </h1>
@*<input type="text" id="searchInput" onkeyup="myFunction()" placeholder="Search for course" title="Type in a name">*@
<div class="table-responsive">
    <table id="courseListTable" class="table table-hover" >
        <thead>
            <tr>
                <th>Name </th>
                <th>Code </th>
                <th>Credits </th>
                <th>Term </th>
                <th>Period </th>
                <th>Allocated(hrs) </th>
                <th> Remaining(Hrs)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (SimpleCourseViewModel course in Model)
            {
                <tr>
                    <td>@Html.ActionLink(course.Name, "CourseDetails", "Course", new { id = course.Id }, null)</td>
                    <td>@Html.ActionLink(course.Code, "CourseDetails", "Course", new { id = course.Id }, null)</td>
                    <td>@course.Credits</td>
                    <td>@course.TermYear.Term</td>
                    <td>@course.Period</td>
                    <td>@course.AllocatedHours</td>
                    <td>@course.RemainingHours<span class="label label-@course.Status pull-right">status </span></td>
                </tr>
            }

        </tbody>
    </table>
</div>
