@{    
    ViewBag.Title = "Courses";
}


<h1>Courses </h1>
<div class="table-responsive" style="font-family:Raleway, sans-serif;">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name </th>
                <th>Code </th>
                <th>HP </th>
                <th>Term </th>
                <th>Period </th>
                <th>Alocated(hrs) </th>
                <th> Remaining(Hrs)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in ViewBag.courses)
            {
                <tr>
                    <td> <a id="showBtn" href="#course-modal" data-toggle="modal" data-id ="@course.Code">@course.Name</a></td>
                    <td> <a href="javascript:;">@course.Code </a></td>
                    <td>@course.Credits</td>
                    <td>sample term</td>
                    <td>Cell 5</td>
                    <td>@course.AllocatedHours</td>
                    <td>@course.RemainingHours<span class="label label-warning pull-right">warning </span></td>
                </tr>
            }             
           
        </tbody>
    </table>
</div>


@Html.Partial("_CourseModal")"

@section Scripts{
    <script>
    $('#showBtn').click(function (eve) {
        $('#modal-content').load("Course/Courses/CourseDetails");
    })

</script>}
