@using StaffingPlanner.ViewModels
@model List<SimpleCourseViewModel>
@{
    ViewBag.Title = "Courses";
}

<h2>Courses </h2>
@*<input type="text" id="searchInput" onkeyup="myFunction()" placeholder="Search for course" title="Type in a name">*@
<div class="table-responsive">
    <table id="courseListTable" class="table table-hover" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Credits</th>
                <th>Term</th>
                <th>Period</th>
                <th>Course responsible</th>
                <th>Allocated hours</th>
                <th>Remaining hours</th>
                <th name="State"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
                <tr>
                    <td>@Html.ActionLink(course.Name, "CourseDetails", "Course", new { id = course.Id }, null)</td>
                    <td>@Html.ActionLink(course.Code, "CourseDetails", "Course", new { id = course.Id }, null)</td>
                    <td>@course.Credits</td>
                    <td>@course.TermYear.ToString()</td>
                    <td>@course.Period</td>
                    <td>@Html.ActionLink(course.CourseResponsible.Name, "TeacherDetails", "Teacher", new { id = course.CourseResponsible.Id }, null)</td>
                    <td>@course.AllocatedHours</td>
                    <td>@course.RemainingHours</td>
                    <td><span class="label label-@course.Status pull-right">@course.State </span></td>
                </tr>
            }

        </tbody>
    </table>
</div>
