@using Microsoft.Ajax.Utilities
@using StaffingPlanner.Models;
@using StaffingPlanner.DAL;
@using StaffingPlanner.ViewModels;
@model DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}

@if (Model.DoS)
{
    // TODO: Add "show-all" button to show data for more types of employees
    <div class="row well background-white">
        <h6 style="margin-left: 15px;">Remaining hours</h6>
        <div class="col-md-3 col-sm-3 col-xs-3 statictic-container">
            <div class="statistic">
                <div class="capsule-side background-grey"></div>
                <div class="capsule-content">
                    <div class="capsule-top">Total</div>
                    <div class="capsule-bottom">@Model.TopPanel.TotalRemaining</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 statictic-container">
            <div class="statistic">
                <div class="capsule-side background-blue"></div>
                <div class="capsule-content">
                    <div class="capsule-top">Professors</div>
                    <div class="capsule-bottom">@Model.TopPanel.ProfessorRemaining</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 statictic-container">
            <div class="statistic">
                <div class="capsule-side background-green"></div>
                <div class="capsule-content">
                    <div class="capsule-top">Senior lecturers</div>
                    <div class="capsule-bottom">@Model.TopPanel.LektorRemaining</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 statictic-container">
            <div class="statistic">
                <div class="capsule-side background-orange"></div>
                <div class="capsule-content">
                    <div class="capsule-top">Junior lecturers</div>
                    <div class="capsule-bottom">@Model.TopPanel.AdjunktRemaining</div>
                </div>
            </div>
        </div>
    </div>
}
<div class="row year-plan">
    <div class="col-md-12">
        <div class="dropdown pull-right">
            @switch (Model.Year)
            {
                case 2016:
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">2016/2017 <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation">@Html.ActionLink("2017/2018", "Index", "Dashboard", new { year = 2017 }, null)</li>
                        <li role="presentation">@Html.ActionLink("2015/2016", "Index", "Dashboard", new { year = 2015 }, null)</li>
                    </ul>break;
                case 2015:
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">2015/2016 <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation">@Html.ActionLink("2017/2018", "Index", "Dashboard", new { year = 2017 }, null)</li>
                        <li role="presentation">@Html.ActionLink("2016/2017", "Index", "Dashboard", new { year = 2016 }, null)</li>
                    </ul>break;
                default:
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">2017/2018 <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation">@Html.ActionLink("2016/2017", "Index", "Dashboard", new { year = 2016 }, null)</li>
                        <li role="presentation">@Html.ActionLink("2015/2016", "Index", "Dashboard", new { year = 2015 }, null)</li>
                    </ul>break;
            }

        </div>
        <div>
            <ul class="nav nav-tabs">
                <li class="@Globals.isActiveTerm(StaffingPlanner.Models.Term.Fall, Globals.CurrentTerm)"><a href="#tab-1" role="tab" data-toggle="tab">Fall</a></li>
                <li class="@Globals.isActiveTerm(StaffingPlanner.Models.Term.Spring, Globals.CurrentTerm)"><a href="#tab-2" role="tab" data-toggle="tab">Spring</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane @Globals.isActiveTerm(StaffingPlanner.Models.Term.Fall, Globals.CurrentTerm) " role="tabpanel" id="tab-1">
                    <div id="course-plan" class="table-responsive">
                        <table class="table borderless">
                            <colgroup>
                                <col class="period-col" style="border-left: 1px solid #000000">
                                <col class="period-col">
                                <col class="period-col">
                                <col class="period-col">
                            </colgroup>
                            <thead>
                                <tr style=" border-bottom: 2px solid #000000; border-top: 0px">
                                    <th style="text-align: center;">Period 1</th>
                                    <th style="text-align: center;">Period 2</th>
                                    <th style="text-align: center;">Period 3</th>
                                    <th style="text-align: center;">Period 4</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.FallCourses)
                                {
                                    <tr>
                                        @for (var i = 0; i < item.PeriodsBefore; i++)
                                        {
                                            <td></td>
}
                                        <td colspan=@item.PeriodsDuration>
                                            <div class="progress" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content="<b>Course responsible</b><br>@item.CourseResponsible.Name<br><br><b>Course state</b><br>@item.State">
                                                <a class="progress-bar progress-bar-@item.Status" role="button" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" href="@Url.Action("CourseDetails","Course",new {Id = item.Id })" style="width: 100%; text-decoration: none;">@item.Name</a>
                                            </div>
                                        </td>
                                        @for (var i = 0; i < item.PeriodsAfter; i++)
                                        {
                                            <td></td>
}
                                    </tr>}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane @Globals.isActiveTerm(StaffingPlanner.Models.Term.Spring, Globals.CurrentTerm)" role="tabpanel" id="tab-2">
                    <div id="course-plan" class="table-responsive">
                        <table class="table borderless">
                            <colgroup>
                                <col class="period-col" style="border-left: 1px solid #000000">
                                <col class="period-col">
                                <col class="period-col">
                                <col class="period-col">
                            </colgroup>
                            <thead>
                                <tr style=" border-bottom: 2px solid #000000; border-top: 0px">
                                    <th style="text-align: center;">Period 1</th>
                                    <th style="text-align: center;">Period 2</th>
                                    <th style="text-align: center;">Period 3</th>
                                    <th style="text-align: center;">Period 4</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.SpringCourses)
                                {
                                    <tr>
                                        @for (var i = 0; i < item.PeriodsBefore; i++)
                                        {
                                            <td></td>
}
                                        <td colspan=@("" + item.PeriodsDuration)>
                                            <div class="progress" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content="<b>Course responsible</b><br>@item.CourseResponsible.Name<br><br><b>Course state</b><br>@item.State">
                                                <a class="progress-bar progress-bar-@item.Status" role="button" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" href="@Url.Action("CourseDetails","Course",new {Id = item.Id })" style="width: 100%; text-decoration: none;">@item.Name</a>
                                            </div>
                                        </td>
                                        @for (var i = 0; i < item.PeriodsAfter; i++)
                                        {
                                            <td></td>
}
                                    </tr>}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
