@using StaffingPlanner.DAL
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand navbar-link" href="~/Dashboard/Index">Staffing Planner <img src="~/Content/img/uppsala.png"></a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul id="nav" class="nav navbar-nav pull-right">
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")" role="presentation">@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Teachers" ? "active" : "")" role="presentation">@Html.ActionLink("Teachers", "Teachers", "Teacher")</li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Courses" ? "active" : "")" role="presentation">@Html.ActionLink("Courses", "Courses", "Course")</li>
                @if (Globals.SessionUser[Session["UserID"] as string].UserRole == Role.DirectorOfStudies)
                {
                    //TODO: Update the number of messages next to the envelope to the actual number of messages
                    @*<li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Messages" ? "active" : "")" role="presentation"><a href="~/Messages/Messages"><i class="fa fa-envelope-o" style="font-size:22px;"></i> <span class="badge">15 </span></a></li>}*@
                    @Html.Action("RenderDosNotificationWindow", "Messages")
                }
                else
                {
                    //TODO: Show dropdown-ish menu with messages
                    @Html.Action("RenderTeacherNotificationWindow", "Messages", new { TeacherId = Globals.SessionUser[Session["UserID"] as string].TeacherId })
                }                
                <li class="dropdown" id="account-link">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">@Globals.SessionUser[Session["UserID"] as string].Name<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation">@Html.ActionLink("Profile", "TeacherDetails", "Teacher", new {id = Globals.SessionUser[Session["UserID"] as string].TeacherId}, null)</li>
                        <li role="presentation">@Html.ActionLink("Logout", "LogOff", "Account")</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
