@using StaffingPlanner.ViewModels
@using StaffingPlanner.DAL
@using System.Linq
@using StaffingPlanner.Models
@model List<Message>

@{
    ViewBag.Title = "notifications";
}

@*<li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Messages" ? "active" : "")" role="presentation"><a href="~/Messages/Messages"><i class="fa fa-envelope-o" style="font-size:22px;"></i> </a></li>*@
<li id="notificationLink">    
    <a class="fa fa-bell-o" id="notificationLink" href="#"><span  class="badge">@Model.Where(m => m.Seen == false).ToList().Count </span></a>
    <div id="notificationContainer">
        <div id="notificationTitle">Notifications</div>
        <div id="notificationsBody" class="notifications">
            @if(Model.Count == 0)
            {
            <p>You have no new notifications</p>
            }
            else 
            {
                foreach (var message in Model)
                {
                    if (message.Workload == null)
                    {
                        <a onClick="location.href='@Url.Action("RedirectToCourse", "Messages", new { Id = message.Id, CourseId = message.Course.Id })'"><div>@message.Body</div></a><hr />
                    }
                    else
                    {
                        <a onClick="location.href='@Url.Action("RedirectToTeacherProfile", "Messages", new { Id = message.Id, TeacherId = message.Workload.Teacher.Id })'"><div>@message.Body</div></a><hr />
                    }
                }
            }            
        </div>
            <div id="notificationFooter">
                @if (Globals.UserRole == Role.DirectorOfStudies)
                {
                    <a onClick="location.href='@Url.Action("MessagesDos", "Messages")'">View all Messages</a>
                }
                else
                {
                    <a onClick="location.href='@Url.Action("MessagesTeacher", "Messages", new { Id = Globals.UserId }, null)'">View all Messages</a>
                 }
            </div>
        </div>
</li>
