@using StaffingPlanner.ViewModels
@using StaffingPlanner.Controllers
@using StaffingPlanner.DAL
@using StaffingPlanner.Models
@model List<Message>

@{
    ViewBag.Title = "messages";
}

<div class="container">
    <h3 style="border-bottom:1px solid #000000;padding:15px">Messages</h3>
    <ul class="list-group">
        @if (Model.Count == 0)
        {
            <li class="text-center">Your inbox is empty :)</li>
        }
        else
        {
            foreach (var message in Model)
            {
                <li class="list-group-item message">
                    <div class="media">
                        <div class="media-left"><a  class="@MessagesController.getIcon(message.MessageType)" style="color:#c32d3f"></a></div>
                        <div class="media-body">
                            <div class="media" style="overflow:visible;">
                                <div class="media-left">
                                    <a></a>
                                </div>
                                <div class="media-body" style="overflow:visible;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>
                                                @message.Body
                                                <br>
                                                <small class="text-muted">@message.Datetime.ToString("MM/dd/yyyy") at @message.Datetime.ToString("H:mm tt") </small>
                                                @{
                                                    if (Globals.UserRole != Role.DirectorOfStudies && message.Workload != null)
                                                    {
                                                        if ( message.Workload.IsApproved)
                                                        {                                                           
                                                                <button class="btn btn-default pull-right alert-success flat disabled">Approved<i class="fa fa-check pull-right" style="margin:2px"></i></button>
                                                        }
                                                        else
                                                        {
                                                                using (Html.BeginForm("ApproveWorkload", "Approvals", FormMethod.Post))
                                                                {
                                                                    <input type="hidden" style="height:0px" id="Id" name="Id" value="@message.Workload.Id">
                                                                    <button class="btn btn-default flat-border pull-right" type="submit">approve change</button>
                                                            }
                                                        }
                                                    }
                                                    if (Globals.UserRole == Role.DirectorOfStudies && message.MessageType == MessageType.CourseApproval)
                                                    {
                                                        <button class="btn btn-default pull-right clear-button"  onclick="location.href='@Url.Action("CourseDetails", "Course", new { id = message.Course.Id})'">Go to Course</button>
                                                    }
                                                }                                                                                              
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }
        }        
    </ul>
</div>
