@using StaffingPlanner.ViewModels;
@model List<TeacherCourseHistoryViewModel> 
<div class="card card-block">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name </th>
                <th>Term </th>
                <th>Period</th>
                <th>Course responsible</th>
                <th>Hours Taught</th>
            </tr>
        </thead>
        <tbody>
    @{        
            if (Model.Count == 0)
            {
                <tr>
                    <td colspan="5" class="text-center">No Teaching History available</td>
                </tr>                
            }
            else
            {
                foreach (var course in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(course.CourseName, "CourseDetails", "Course", new { id = course.CourseId }, null)</td>
                        <td>@course.TermYear</td>
                        <td>@course.Period</td>
                        <td>@course.CourseResponsibe.Name</td>
                        <td>@course.HoursTaught</td>
                    </tr>
                }
            }

    }
        </tbody>
    </table>
</div>
