@using StaffingPlanner.ViewModels
@model List<TeacherCourseViewModel>

<div class="col-md-12">
    <div class="table-responsive" style="font-family: Raleway, sans-serif;">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Responsible</th>
                <th>Term</th>
                <th>Period</th>
                <th data-toggle="tooltip" title="Total number of hours budgeted for the course">
                    Budget
                </th>
                <th data-toggle="tooltip" title="Total number of hours allocated to this course">
                    Allocated (Total)
                </th>
                <th data-toggle="tooltip" title="Hours allocated to this course for @ViewBag.Name">
                    Allocated (@ViewBag.Firstname)
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var course in Model)
            {
                <tr>
                    <td><a href="#" data-toggle="modal" data-target="#course-modal">@Html.ActionLink(course.CourseName, "CourseDetails", "Course", new {id = course.OfferingId}, null)</a></td>
                    <td>@course.Code</td>
                    <td>@Html.ActionLink(course.CourseResponsible.Name, "TeacherDetails", "Teacher", new {id = course.CourseResponsible.Id}, null)</td>
                    <td>@course.TermYear.ToString()</td>
                    <td>@course.Period</td>
                    <td>@course.TotalHours</td>
                    <td>@course.AllocatedHours</td>
                    <td>@course.TeacherAssignedHours</td>
                    <td><span class="label label-@course.CourseStatus pull-right">@course.CourseState</span></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
