@using StaffingPlanner.DAL
@using StaffingPlanner.ViewModels
@model TeacherDetailsTopViewModel

<div class="col-md-6 col-sm-6">
    <div class="table-responsive">
        <table class="table borderless">
            <tbody>
            @if (Globals.SessionUser[Session["UserID"] as string].UserRole == Role.DirectorOfStudies)
            {
                <tr>
                    <th>Personal number :</th>
                    <td>1234567890</td>
                </tr>
            }
            <tr>
                <th>Employed as :</th>
                <td>@Model.Title</td>
            </tr>
            <tr>
                <th>Email :</th>
                <td>@Model.Email</td>
            </tr>
            </tbody>
        </table>

        <div class="table-responsive" style="font-family: Raleway, sans-serif; max-width: 400px">
            <table class="table">
                <thead>
                <tr>@Model.FallBudget.TermYear.ToString() Workload (h)</tr>
                </thead>
                <tbody>
                <tr>
                    <th>
                        P1
                        @if (Model.FallPeriodBalance.P1Balance < 0)
                        {
                            <span class="glyphicon glyphicon-warning-sign" data-toggle="tooltip" title="Period 1 is over-allocated"></span>
                        }
                    </th>
                    <th>
                        P2
                        @if (Model.FallPeriodBalance.P2Balance < 0)
                        {
                            <span class="glyphicon glyphicon-warning-sign" data-toggle="tooltip" title="Period 2 is over-allocated"></span>
                        }
                    </th>
                    <th>
                        P3
                        @if (Model.FallPeriodBalance.P3Balance < 0)
                        {
                            <span class="glyphicon glyphicon-warning-sign" data-toggle="tooltip" title="Period 3 is over-allocated"></span>
                        }
                    </th>
                    <th>
                        P4
                        @if (Model.FallPeriodBalance.P4Balance < 0)
                        {
                            <span class="glyphicon glyphicon-warning-sign" data-toggle="tooltip" title="Period 4 is over-allocated"></span>
                        }
                    </th>
                    <th>Other</th>
                    <th>
                        Total
                        @if (Model.FallBudget.TeachingHours - Model.FallWorkload.TotalTermWorkload < 0)
                        {
                            <span class="glyphicon glyphicon-warning-sign" data-toggle="tooltip" title="The teacher is over-allocated for the fall term"></span>
                        }
                    </th>
                </tr>
                <tr>
                    <td>@Model.FallWorkload.Period1Workload</td>
                    <td>@Model.FallWorkload.Period2Workload</td>
                    <td>@Model.FallWorkload.Period3Workload</td>
                    <td>@Model.FallWorkload.Period4Workload</td>
                    <td>@Model.FallWorkload.NonCourseWorkload</td>
                    <td>@Model.FallWorkload.TotalTermWorkload</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="table-responsive" style="font-family: Raleway, sans-serif; max-width: 400px">
            <table class="table">
                <thead>
                <tr>@Model.SpringBudget.TermYear.ToString() Workload (h)</tr>
                </thead>
                <tbody>
                <tr>
                    <th>
                        P1
                        @if (Model.SpringPeriodBalance.P1Balance < 0)
                        {
                            <span class="glyphicon glyphicon-warning-sign" data-toggle="tooltip" title="Period 1 is over-allocated"></span>
                        }
                    </th>
                    <th>
                        P2
                        @if (Model.SpringPeriodBalance.P2Balance < 0)
                        {
                            <span class="glyphicon glyphicon-warning-sign" data-toggle="tooltip" title="Period 2 is over-allocated"></span>
                        }
                    </th>
                    <th>
                        P3
                        @if (Model.SpringPeriodBalance.P3Balance < 0)
                        {
                            <span class="glyphicon glyphicon-warning-sign" data-toggle="tooltip" title="Period 3 is over-allocated"></span>
                        }
                    </th>
                    <th>
                        P4
                        @if (Model.SpringPeriodBalance.P4Balance < 0)
                        {
                            <span class="glyphicon glyphicon-warning-sign" data-toggle="tooltip" title="Period 4 is over-allocated"></span>
                        }
                    </th>
                    <th>Other</th>
                    <th>
                        Total
                        @if (Model.SpringBudget.TeachingHours - Model.SpringWorkload.TotalTermWorkload < 0)
                        {
                            <span class="glyphicon glyphicon-warning-sign" data-toggle="tooltip" title="The teacher is over-allocated for the spring term"></span>
                        }
                    </th>
                </tr>
                <tr>
                    <td>@Model.SpringWorkload.Period1Workload</td>
                    <td>@Model.SpringWorkload.Period2Workload</td>
                    <td>@Model.SpringWorkload.Period3Workload</td>
                    <td>@Model.SpringWorkload.Period4Workload</td>
                    <td>@Model.SpringWorkload.NonCourseWorkload</td>
                    <td>@Model.SpringWorkload.TotalTermWorkload</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<div class="col-md-6 col-sm-6">
    <style>
        p { font-size: 14px; margin-bottom: 6px;}
        #shareboxContainer {  }
        .sharebox { background-color: whitesmoke; margin: 4px; }
        #hourboxContainer { }
        .hourbox { background-color: whitesmoke; margin: 4px; }
    </style>

    <div class="row" style="margin-bottom:16px">
        <div class="col-md-12">
            <div class="col-md-5 col-xs-4">
                <p>Base annual hours: @(Model.FallBudget.TotalTermHours + Model.SpringBudget.TotalTermHours)</p>
            </div>
            <div class="col-md-3">
                <p>HT-17: @Model.FallBudget.TermEmployment%</p>
            </div>
            <div class="col-md-3">
                <p>VT-18: @Model.SpringBudget.TermEmployment%</p>
            </div>
        </div>
    </div>

    <div class="row">
        @*Task share box*@
        <div class="col-md-6" id="shareboxContainer">
            <div class="row">
                <h5 style="text-align:center">Task share</h5>
            </div>
            <div class="row">
                <div class="col-md-5 col-xs-5 sharebox">
                    <h6>Teaching</h6>
                    <p>@Model.FallBudget.TeachingShare%</p>
                </div>
                <div class="col-md-5 col-xs-5 sharebox">
                    <h6>Research</h6>
                    <p>@Model.FallBudget.ResearchShare%</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-xs-5 sharebox">
                    <h6>Admin</h6>
                    <p>@Model.FallBudget.AdminShare%</p>
                </div>
                <div class="col-md-5 col-xs-5 sharebox">
                    <h6>Other</h6>
                    <p>@Model.FallBudget.OtherShare%</p>
                </div>
            </div>
        </div>

        @*Teaching hours box*@
        <div class="col-md-6" id="hourboxContainer">
            <div class="row">
                <h6 style="text-align:center">Available teaching hours</h6>
            </div>
            <div class="row">
                <div class="col-md-5 col-xs-5 hourbox">
                    <h6>HT-17</h6>
                    <p>@Model.FallBudget.TeachingHours</p>
                </div>
                <div class="col-md-6 col-xs-5 hourbox">
                    <h6>Per period</h6>
                    <p>@(Model.FallBudget.TeachingHours/4)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-xs-5 hourbox">
                    <h6>VT-18</h6>
                    <p>@Model.SpringBudget.TeachingHours</p>
                </div>
                <div class="col-md-6 col-xs-5 hourbox">
                    <h6>Per period</h6>
                    <p>@(Model.SpringBudget.TeachingHours/4)</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div id="totalWorkload" style="text-align:center">
                <h6>Total workload</h6>
                <h3>
                    @(Model.FallWorkload.TotalTermWorkload + @Model.SpringWorkload.TotalTermWorkload)
                    @if (Model.FallBudget.TeachingHours + Model.SpringBudget.TeachingHours - Model.FallWorkload.TotalTermWorkload - @Model.SpringWorkload.TotalTermWorkload < 0)
                    {
                        <span class="glyphicon glyphicon-warning-sign" data-toggle="tooltip" title="The total workload is more than the yearly teaching hours!"></span>
                    }
                </h3>
            </div>

        </div>
        <div class="col-md-6">
            <div id="totalTeaching" style="text-align:center">
                <h6>Total teaching hours</h6>
                <h3>@(Model.FallBudget.TeachingHours + Model.SpringBudget.TeachingHours)</h3>
            </div>
        </div>
    </div>

    <div class="row">

    </div>
</div>
