@using StaffingPlanner.ViewModels
@using System.Collections
@model List<TeacherViewModel>
@{
    ViewBag.Title = "Teachers";
}

<h1>Teachers </h1>
<div class="table-responsive" style="font-family:Raleway, sans-serif;">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Code </th>
                <th>Name </th>
                <th>Title </th>
                <th>Total Hours</th>
                <th>HT work</th>
                <th>VT work</th>
                <th> Remaining(Hrs)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (TeacherViewModel teacher in Model)
            {
                <tr>
                    <td> <a href="#" data-toggle="modal" data-target="#teacher-modal">Code?</a></td>
                    <td> <a href="#" data-toggle="modal" data-target="#teacher-modal">@teacher.Name</a></td>
                    <td>@teacher.Title</td>
                    <td>@teacher.TotalHours</td>
                    <td>@teacher.FallWork</td>
                    <td>@teacher.SpringWork</td>
                    <td>@teacher.RemainingHours<span class="label label-success pull-right">good </span></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.Partial("_TeacherModal")