@using StaffingPlanner.ViewModels
@model TeacherViewModel

@{
    ViewBag.Title = "Teacher";
}

<div class="container">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Teacher Details</h4>
    </div>
    <div class="modal-body">
        <!--Modal Content-->
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group detail">
                    <h5 class="detail-label">Name : </h5>
                    <div class="dropdown detail-label">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">@Model.Name<span class="caret"></span></button>
                        <ul role="menu" class="dropdown-menu">
                            <li role="presentation"><a href="#">First Item</a></li>
                            <li role="presentation"><a href="#">Second Item</a></li>
                            <li role="presentation"><a href="#">Third Item</a></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group detail">
                    <h5 class="detail-label">Email :</h5>
                    <p class="detail-label">add@viewmodel.ru</p>
                </div>
                <h4>Availabillity </h4>
                <div class="form-group detail">
                    <h5 class="detail-label">Fall :</h5>
                    <p class="detail-label">@Model.FallWork.ToString() %</p>
                </div>
                <div class="form-group detail">
                    <h5 class="detail-label">Spring :</h5>
                    <p class="detail-label">@Model.SpringWork.ToString() %</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="detail-item">
                    <p>total hours</p>
                    <p class="numbers blue-border">@Model.TotalHours.ToString()</p>
                </div>
                <div class="detail-item">
                    <p>used </p>
                    <p class="numbers orange-border">@((Model.TotalHours - Model.RemainingHours).ToString())</p>
                </div>
                <div class="detail-item">
                    <p>balance </p>
                    <p class="numbers green-border">@Model.RemainingHours.ToString()</p>
                </div>
                <h4>Hours Allocation</h4>
                <div class="time-allocation detail-label">
                    <p class="detail-label">research</p><span class="badge pull-right">600hrs</span>
                </div>
                <div class="time-allocation detail-label">
                    <p class="detail-label">teaching</p><span class="badge pull-right">200hrs</span>
                </div>
                <div class="time-allocation detail-label">
                    <p class="detail-label">admin</p><span class="badge pull-right">300hrs</span>
                </div>
                <div class="time-allocation detail-label">
                    <p class="detail-label">other</p><span class="badge pull-right">600hrs</span>
                </div>
            </div>
        </div>
        <div class="row">
            <!--Table of courses-->
            <div class="col-md-12">
                <div class="table-responsive" style="font-family:Raleway, sans-serif;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Credits</th>
                                <th>Term</th>
                                <th>Period</th>
                                <th>Allocated(Hrs)</th>
                                <th>Remaining(Hrs)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (TeacherCourseViewModel course in Model.Courses)
                            {
                                <tr>
                                    <td><a href="#" data-toggle="modal" data-target="#course-modal">@course.Name</a></td>
                                    <td>@course.Code</td>
                                    <td>@course.Credits</td>
                                    <td>HT</td>
                                    <td>1-2</td>
                                    <td>96</td>
                                    <td>14<span class="label label-warning pull-right">warning </span></td>
                                </tr>
                            }
                            <tr>
                                <td><a href="#">Organisational Behaviour</a></td>
                                <td>2FE223</td>
                                <td>7.5</td>
                                <td>VT</td>
                                <td>4</td>
                                <td>52</td>
                                <td>0<span class="label label-danger pull-right">issue </span></td>
                            </tr>
                            <tr>
                                <td><a href="#">HCI/Usability Evaluation Methods</a></td>
                                <td>2IV134</td>
                                <td>7.5</td>
                                <td>HT</td>
                                <td>2</td>
                                <td>63</td>
                                <td>17<span class="label label-success pull-right">good </span></td>
                            </tr>
                            <tr>
                                <td><a href="#">Software Engineering</a></td>
                                <td>2YT176</td>
                                <td>15</td>
                                <td>VT</td>
                                <td>1</td>
                                <td>140</td>
                                <td>-20<span class="label label-warning pull-right">warning </span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="button">Save</button>
    </div>
</div>