@using StaffingPlanner.ViewModels
@model DetailedTeacherViewModel

@{
    ViewBag.Title = "Teacher";
}

<div class="container">
    <div class="modal-header">
        <h4 class="modal-title" style="display:inline-block">Teacher details</h4>
        <div style="float: right; display:inline-block">
            <button class="btn btn-default" type="button" data-dismiss="modal" onclick="location.href='@Url.Action("Teachers", "Teacher")'">Back to Teachers List</button>
            <button class="btn btn-primary" type="button">Edit</button>
        </div>
    </div>
    <div class="modal-body">
        <!--Modal Content-->

        <div class="row well background-white">
            <div class="col-md-6 col-sm-6">
                <div class="table-responsive">
                    <table class="table borderless">
                        <tbody>
                            <tr>
                                <th>Name :</th>
                                <td>@Model.Name</td>
                            </tr>
                            <tr>
                                <th>Email :</th>
                                <td>@Model.Email</td>
                            </tr>
                            <tr>
                                <th colspan="2" style="text-align:left">Availability </th>
                            </tr>
                            <tr>
                                <th>Autumn :</th>
                                <td>@Model.HourBudget.FallAvailability%</td>
                            </tr>
                            <tr>
                                <th>Spring :</th>
                                <td>@Model.HourBudget.SpringAvailability%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>                
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="hours">
                    <div class="detail-bubble col-md-4 col-sm-4 col-xs-4">
                        <p>total </p>
                        <p class="numbers blue-border">@Model.HourBudget.TotalHours</p>
                    </div>
                    <div class="detail-bubble col-md-4 col-sm-4 col-xs-4">
                        <p>allocated</p>
                        <p class="numbers green-border">@((Model.HourBudget.TotalHours - Model.RemainingHours).ToString())</p>
                    </div>
                    <div class="detail-bubble col-md-4 col-sm-4 col-xs-4">
                        <p>balance </p>
                        <p class="numbers orange-border">@Model.RemainingHours</p>
                    </div>
                </div>

                <h5 class="details-h">Yearly hours by task</h5>
                <div class="time-allocation-div">
                    <div class="time-allocation detail-label">
                        <p class="detail-label">Teaching:</p><span class="badge pull-right">@Model.HourBudget.TeachingHours</span>
                    </div>
                    <div class="time-allocation detail-label">
                        <p class="detail-label">Research:</p><span class="badge pull-right">@Model.HourBudget.ResearchHours</span>
                    </div>
                </div>
                <div class="time-allocation-div">
                    <div class="time-allocation detail-label">
                        <p class="detail-label">Other: </p><span class="badge pull-right">@Model.HourBudget.OtherHours</span>
                    </div>
                    <div class="time-allocation detail-label">
                        <p class="detail-label">Admin:</p><span class="badge pull-right">@Model.HourBudget.AdminHours</span>
                    </div>
                </div>
            </div>
        </div>       
      
        <div class="row">
            <!--Table of courses-->
            <div class="col-md-12">
                <div class="table-responsive" style="font-family:Raleway, sans-serif;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Term</th>
                                <th>Period</th>
                                <th>Total budget</th>
                                <th>Total allocated hours</th>
                                <th>@Model.Name hours</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var course in Model.CurrentCourseOfferings)
                            {
                                <tr>
                                    <td><a href="#" data-toggle="modal" data-target="#course-modal">@Html.ActionLink(course.CourseName, "CourseDetails", "Course", new { id = course.Id }, null)</a></td>
                                    <td>@course.Code</td>
                                    <td>@course.TermYear.ToString()</td>
                                    <td>@course.Period</td>
                                    <td>@course.TotalHours</td>
                                    <td>@course.AllocatedHours</td>
                                    <td>@course.TeacherAssignedHours</td>
                                    <td><span class="label label-warning pull-right">status </span></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>   
</div>