@using StaffingPlanner.ViewModels;
@model DetailedTeacherViewModel

@{
    ViewBag.Title = "Teacher";
}

<div class="container">
    <div class="modal-header">
        <h3 class="modal-title" style="display:inline-block">@Model.Name</h3>
        <div style="float: right; display:inline-block">
            <button class="btn btn-default" type="button" data-dismiss="modal" onclick="location.href='@Url.Action("Teachers", "Teacher")'">Back to Teachers List</button>
            <button class="btn btn-primary" onclick="EditTeacher()" type="button" id="EditTeacherButton">Edit</button>
        </div>
    </div>
    <div class="modal-body">
        <!--Information about teacher-->
        <div id="teacherDetails" class="row well background-white">
            @Html.Partial("_TeacherDetailsTop", Model)
        </div>

        <div class="row" id="courseList">
            <!--Table of courses-->
            @Html.Action("CourseList", "Teacher", new {teacherId = Model.Id})
        </div>
        <div class="col-md-12">
            <button class="btn btn-primary pull-left" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                View teaching History
            </button>
        </div>
        <!--Course history table-->
        <div class="row">
            <div class="collapse" id="collapseExample">
                @Url.Action("CourseHistory", "Teacher", new {teacherid = Model.Id})
            </div>
        </div>
    </div>
    <script>
        function EditTeacher() {
            $('#courseList').load('@Url.Action("EditableCourseList", "Teacher", new { teacherId = Model.Id})');
            var editButton = $('#EditTeacherButton');
            editButton.attr("onclick", "CancelEdit()");
            editButton.html("Cancel");
        }

        function CancelEdit() {
            $('#courseList').load('@Url.Action("CourseList", "Teacher", new { teacherId = Model.Id})');
            var editButton = $('#EditTeacherButton');
            editButton.attr("onclick", "EditTeacher()");
            editButton.html("Edit");
        }
    </script>
</div>