@using StaffingPlanner.ViewModels
@model List<SimpleTeacherViewModel>

@{
    ViewBag.Title = "Teachers";
}

<h2>Teachers </h2>
<div class="table-responsive">
    <table class="table table-hover" id="teacherListTable">
        <thead>
            <tr>
                <th>Name </th>
                <th>Title </th>
                <th>Employment HT|VT</th>
                <th>Allocated hours (HT)</th>
                <th>Allocated hours (VT)</th>
                <th>Total remaining hours</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var teacher in Model)
            {
                // TODO: Give allocation cells a background color depending on allocation status (the status is in the viewmodel)
                <tr>
                    <td>@Html.ActionLink(teacher.Name, "TeacherDetails", "Teacher", new { id = teacher.Id }, null)</td>
                    <td>@teacher.Title</td>
                    <td class="text-center">@teacher.FallTermEmployment | @teacher.SpringTermEmployment</td>
                    <td class="text-center">@teacher.AllocatedHoursFall</td>
                    <td class="text-center">@teacher.AllocatedHoursSpring</td>
                    <td class="text-center">@teacher.TotalRemainingHours</td>
                </tr>}
        </tbody>
    </table>
</div>
