@using StaffingPlanner.DAL
@using StaffingPlanner.ViewModels;
@model DetailedTeacherViewModel

@{
    ViewBag.Title = "Teacher";
}

<div class="container">
    <div class="modal-header">
        <h3 class="modal-title" style="display:inline-block">@Model.Name</h3>
        <div style="float: right; display:inline-block">
            <button class="btn btn-default" type="button" data-dismiss="modal" onclick="location.href='@Url.Action("Teachers", "Teacher")'">Back to Teachers List</button>
            @if (Globals.UserRole == Role.DirectorOfStudies)
            {
                <button class="btn btn-primary" onclick="" type="button" id="EditTeacherButton">Edit</button>
            }
        </div>
    </div>
    <div class="modal-body">
        <!--Information about teacher-->
        <div id="teacherDetails" class="row well background-white">
            @Html.Partial("_TeacherDetailsTop", Model)
        </div>

        <div class="row" id="courseList">
            <!--Table of courses-->
            @(Globals.UserRole == Role.DirectorOfStudies 
                ? Html.Action("EditableCourseList", "Teacher", new {teacherId = Model.Id}) 
                : Html.Action("CourseList", "Teacher", new {teacherId = Model.Id}))
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary pull-left" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                View teaching History
            </button>
        </div>
        @if (Globals.UserRole == Role.DirectorOfStudies)
            {
            <div class="col-md-6">
                <button class="btn btn-default pull-right" data-toggle="modal" data-target="#addCourseModal" type="button"> Add Course<i class="icon-plus" style="margin: 2px; margin-left: 3px;"></i></button>
            </div>
        }
        <div id="addCourseModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            @Html.Action("RenderAddTeacherCourse", "Teacher", new { Id = Model.Id });
        </div>
        <!--Course history table-->
        <div class="row">
            <div class="collapse" id="collapseExample">
                @Html.Action("CourseHistory", "Teacher", new {teacherid = Model.Id})
            </div>
        </div>
    </div>
</div>